html,
body {
  height: 100%;
  width: 100%;
  background-color: #6951f0;
  color: white;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.current-appointment {
  background-color: #282828;
}

.current-appointment-number {
  font-size: 80px;
}

.current-appointment-desktop {
  font-size: 45px;
}

.secondary-appointment {
  font-size: 25px;
}

/* New Appointment */

#lblNewAppointment {
  font-size: 70px;
}
